<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div id="header">
            <img src=""/>
            <h1>HVAC Stewardship Manager</h1>
            <h1>Air Ventilation Unit: <%= avu.current.name%> in <%= building.name%></h1>
        </div>
        <div id="nav">
        </div>
        <div id="content">
            <div id="details">
                <p>Next Date To Check: <%= avu.current.nextDateToCheck%></p>
                <p>Status Color: <%= avu.current.statusColor%></p>
                <div id="pFilters">
                    <h3>Primary Filters:</h3>
                    <% avu.primary.forEach( (filter) => {%>
                    <div class="filter">
                        <p>Width: <%= filter.width%><br>
                            Height: <%= filter.height%><br>
                            Depth: <%= filter.depth%><br>
                            Amount: <%= filter.amount%><br>
                            <a href="/removeFilter?filterId=<%= filter._id%>&avuId=<%= avu.current._id%>&buildingname=<%= building.name%>&buildingId=<%= building.id%>">Remove Filter</a>
                        </p>
                    </div>
                    <%});%>
                </div>
                <div id="sFilters">
                    <h3>Secondary Filters:</h3>
                    <% avu.secondary.forEach( (filter) => {%>
                    <div class="filter">
                        <p>Width: <%= filter.width%><br>
                            Height: <%= filter.height%><br>
                            Depth: <%= filter.depth%><br>
                            Amount: <%= filter.amount%><br>
                            <a href="/removeFilter?filterId=<%= filter._id%>&avuId=<%= avu.current._id%>&buildingname=<%= building.name%>&buildingId=<%= building.id%>">Remove Filter</a>
                        </p>
                    </div>
                    <%});%>
                </div>
                <div id="eFilters">
                    <h3>Extra Filters:</h3>
                    <% avu.extra.forEach( (filter) => {%>
                    <div class="filter">
                        <p>Width: <%= filter.width%><br>
                            Height: <%= filter.height%><br>
                            Depth: <%= filter.depth%><br>
                            Amount: <%= filter.amount%><br>
                            <a href="/removeFilter?filterId=<%= filter._id%>&avuId=<%= avu.current._id%>&buildingname=<%= building.name%>&buildingId=<%= building.id%>">Remove Filter</a>
                        </p>
                    </div>
                    <%});%>
                </div>
                <p>Last Date Maintained: <%= avu.current.lastDateMaintained%></p>
                <p>Additional Notes: <%= avu.current.additionalNotes%></p>
            </div>
            <div id="map">

            </div>
            <div id="addFilters">
                <form action="/addFilter" method="post">
                    <h4>Add Filter</h4>
                    <p>Filter Type: <select name="type">
                            <option value="primary">Primary</option>
                            <option value="secondary">Secondary</option>
                            <option value="extra">Extra(clean ones nearby)</option>
                        </select></p>
                    <p>Width: <br><input type="number" name="width"/></p>
                    <p>Height:<br><input type="number" name="height"/></p>
                    <p>Depth: <br><input type="number" name="depth"/></p>
                    <p>Amount:<br><input type="number" name="amount"/></p>
                    <input type="hidden" name="id" value="<%= avu.current._id%>"/>
                    <input type="hidden" name="buildingId" value="<%= building.id%>"/>
                    <input type="hidden" name="buildingName" value="<%= building.name%>"/>
                    <input type="submit" value="Add Filter"/>
                </form>
            </div>
        </div>
        <div id="footer">
            <p><a href="/deleteAvu?avuId=<%= avu.current._id%>&buildingId=<%= building.id%>">Remove <%= avu.current.name%></a></p>
        </div>
    </body>
</html>