<!DOCTYPE html>
<html>
    <head>
        <title>Building: <%= building.name%></title>
    </head>
    <body>
        <div id="header">
            <img src=""/>
            <h1>HVAC Stewardship Manager</h1>
            <h1><%= building.name%> Building</h1>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/createAvu?buildingName=<%= building.name%>&id=<%= building._id.toString()%>">New AVU</a></li>
                <li><a href="/createFan">New Fan</a></li>

            </ul>
        </div>
        <div id="content">
            <div id="details">
                <p># of black status color items: <%= building.numBlack%></p>
                <p># of red status color items: <%= building.numRed%></p>
            </div>
            <div id="map">

            </div>
            <div id="avus">
                <% avus.forEach( (avu) => {%>
                    <a href="/avu?id=<%= avu._id%>&buildingName=<%= building.name%>&buildingId=<%= building._id%>">
                        <h4><%= avu.name%></h4>
                        <p>Status color: <%= avu.statusColor%></p>
                        <p>Next date to check: <%= avu.nextDateToCheck%></p>
                    </a>
                <%})%>
            </div>
            <div id="fans">

            </div>

        </div>
        <div id="footer">

        </div>
    </body>
</html>