<!DOCTYPE html>
<html>
    <head>
        <title>Building: <%= building.name%></title>
    </head>
    <body>
        <div id="header">
            <img src=""/>
            <h1>HVAC Stewardship Manager</h1>
            <h1><%= building.name%> Building</h1>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/createAvu?buildingName=<%= building.name%>&buildingId=<%= building._id%>">New AVU</a></li>
                <li><a href="/createFan">New Fan</a></li>

            </ul>
        </div>
        <div id="content">
            <div id="details">
                <p># of black status color items: <%= building.numBlack%></p>
                <p># of red status color items: <%= building.numRed%></p>
            </div>
            <div id="map">

            </div>
            <div id="avus">
                <h3>Air Ventilation Units:</h3>
                <% avus.forEach( (avu) => {%>
                    <a href="/avu?id=<%= avu._id%>">
                        <p><%= avu.name%><br>
                        Status color: <%= avu.statusColor%><br>
                        Next date to check: <%= avu.nextDateToCheck.toDateString()%><br>
                        </p>
                    </a>
                <%})%>
            </div>
            <div id="fans">
                <h3>Fans:</h3>
            </div>

        </div>
        <div id="footer">
            <p><a href="/removeBuilding?buildingId=<%= building.id%>">Remove <%= building.name%></a></p>
        </div>
    </body>
</html>