<!DOCTYPE html>
<html>
    <head>
        <title>Building: <%= building.name%></title>
        <style>
            #map {
                height: 800px;
                width: 800px;
                position: fixed;
                overflow: auto;
            }
            html, body {
                height: 100%;
                margin: 0%;
                padding: 0%;
            }
        </style>
    </head>
    <body>
        <div id="header">
            <img src=""/>
            <h1>HVAC Stewardship Manager</h1>
            <h1><%= building.name%> Building</h1>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/createAvu?buildingName=<%= building.name%>&buildingId=<%= building._id%>">New AVU</a></li>
                <li><a href="/createFan?buildingName=<%= building.name%>&buildingId=<%= building._id%>">New Fan</a></li>

            </ul>
        </div>
        <div id="content">
            <div id="details">
                <p># of black status color items: <%= building.numBlack%></p>
                <p># of red status color items: <%= building.numRed%></p>
            </div>
            <div id="map"></div>
            <script type="text/javascript">
                let map;//, location, numRed, numBlack, id;
                let avus = [], fans = [];
                let avuMarkers = [], fanMarkers = [], buildingCenter = [];


                function initMap() {
                    buildingCenter.push(<%- JSON.stringify(building.coordinates)%>);
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: buildingCenter[0], //byuIdaho building
                        zoom: 19
                    });

                    <% if (avus.length > 0) {
                    avus.forEach( (avu) => {
                    %>
                    avus.push(<%- JSON.stringify(avu)%>);
                    <% });
                    }%>

                    <% if (fans.length > 0) {
                    fans.forEach( (fan) => {
                    %>
                    fans.push(<%- JSON.stringify(fan)%>);
                    <% });
                    }%>

                    let largeInfowindow = new google.maps.InfoWindow();
                    let bounds = new google.maps.LatLngBounds();

                    avus.forEach( (avu, i) => {
                        console.log(JSON.stringify(avu));
                        let marker = new google.maps.Marker({
                            map: map,
                            position: avu.coordinates,
                            title: avu.title,
                            animation: google.maps.Animation.DROP,
                            id: i
                        });
                        avuMarkers.push(marker);

                        bounds.extend(marker.position);

                        marker.addListener('click', () => {
                            populateInfoWindow(this, largeInfowindow);
                        });
                    });

                    fans.forEach( (fan, i) => {
                        console.log(JSON.stringify(fan));
                        let marker = new google.maps.Marker({
                            map: map,
                            position: fan.coordinates,
                            title: fan.title,
                            animation: google.maps.Animation.DROP,
                            id: i
                        });
                        fanMarkers.push(marker);

                        bounds.extend(marker.position);

                        marker.addListener('click', () => {
                            populateInfoWindow(this, largeInfowindow);
                        });
                    });
                    map.fitBounds(bounds);
                }

                function populateInfoWindow(marker, infowindow) {
                    if (infowindow.marker !== marker) {
                        infowindow.marker = marker;
                        infowindow.setContent('<div>' + marker.title + '</div>');
//                        infowindow.setContent('<div><a href="/building?id=' + marker.id + '">' + marker.title + '</a></div>' +
//                            '<div>Black items: ' + marker.numBlack + '<br>Red items: ' + marker.numRed + '</div>');
                        infowindow.open(map, marker);

                        infowindow.addListener('closeclick', () => {
                            infowindow.setMarker(null);
                        });
                    }
                }
            </script>
            <script type="text/javascript"
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE6RA6882hKcQWpQ9GwKyOs7JwP8DOd0I&v=3&callback=initMap"
                    async defer></script>
            <div id="avus">
                <h3>Air Ventilation Units:</h3>
                <% avus.forEach( (avu) => {%>
                    <a href="/avu?id=<%= avu._id%>">
                        <p><%= avu.name%><br>
                        Status color: <%= avu.statusColor%><br>
                        Next date to check: <%= avu.nextDateToCheck.toDateString()%><br>
                        </p>
                    </a>
                <%})%>
            </div>
            <div id="fans">
                <h3>Fans:</h3>
                <% fans.forEach( (fan) => {%>
                <a href="/fan?id=<%= fan._id%>">
                    <p><%= fan.name%><br>
                        Status color: <%= fan.statusColor%><br>
                        Next date to check: <%= fan.nextDateToCheck.toDateString()%><br>
                    </p>
                </a>
                <%})%>
            </div>

        </div>
        <div id="footer">
            <p><a href="/removeBuilding?buildingId=<%= building.id%>">Remove <%= building.name%></a></p>
        </div>
    </body>
</html>