<!DOCTYPE html>
<html>
    <head>
        <title>Filtration System <%= current.name%></title>
        <style>
            .gridWrapper {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 10px;
                background-color: #0076c6;
                /*width: 960px;*/
                margin: 0 auto;
                border: 10px solid #0076c6;
                grid-template-areas:
                        "header header header header header header"
                        "nav nav nav nav nav nav"
                        "details details details details details details"
                        "addFilters addFilters addFilters addFilters addFilters addFilters"
                        "map map map map map ."
                        "footer footer footer footer footer footer";
            }

            @media screen and (min-width: 960px) {
                .gridWrapper {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-gap: 10px;
                    background-color: #0076c6;
                    width: 960px;
                    margin: 0 auto;
                    border: 10px solid #0076c6;
                    grid-template-areas: "header header header header header" "nav nav nav nav nav" "details addFilters map map map" "details addFilters map map map" "details addFilters map map map" "footer footer footer footer footer";
                }
            }
            #header {
                grid-area: header;
                color: white;
            }

            #nav {
                grid-area: nav;
                background-color: white;
            }

            #details {
                grid-area: details;
                background-color: white;
            }

            #addFilters {
                grid-area: addFilters;
                background-color: white;
            }

            #map {
                background-color: white;
                grid-area: map;
                width: 100%;
                min-height: 400px;
                position: fixed;
                overflow: auto;
            }

            #footer {
                grid-area: footer;
                background-color: white;
            }
            /*html, body {*/
                /*height: 100%;*/
                /*margin: 0%;*/
                /*padding: 0%;*/
            /*}*/
        </style>
    </head>
    <body>
        <div class="gridWrapper">
            <div id="header">
                <img src=""/>
                <h1>HVAC Inventory Manager</h1>
                <h1>Filtration System: <%= current.name%></h1>
            </div>
            <div id="nav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/building?id=<%= current.buildingId%>"><%= current.buildingName%></a></li>
                </ul>
            </div>

            <div id="details">
                <p>
                    Next Date To Check: <%= current.nextDateToCheck.toDateString()%><br>
                    Status Color: <%= current.statusColor%><br>
                    Building: <%= current.buildingName%><br>
                    Floor: <%= current.floor%><br>
                    Mechanical Room: <%= current.mechanicalRoom%><br>
                    Additional Notes: <%= current.additionalNotes%><br>
                    <form action="/quickUpdateFS" method="post">
                        <input type="date" name="nextDateToCheck" value="<%= new Date().toDateString()%>" /><br>
                        <input type="hidden" name="FSId" value="<%= current._id%>"/>
                        <input type="hidden" name="buildingId" value="<%= current.buildingId%>"/>
                        <input type="submit" value="<%= current.name%> maintained" />
                    </form>
                </p>
                <div id="pFilters">
                    <h3>Primary Filters:</h3>
                    <% primary.forEach( (filter) => {%>
                    <div class="filter">
                        <p>Width: <%= filter.width%><br>
                            Height: <%= filter.height%><br>
                            Depth: <%= filter.depth%><br>
                            Amount: <%= filter.amount%><br>
                            <a href="/removeFilter?filterId=<%= filter._id%>&FSId=<%= current._id%>">Remove Filter</a>
                        </p>
                    </div>
                    <%});%>
                </div>
                <div id="sFilters">
                    <h3>Secondary Filters:</h3>
                    <% secondary.forEach( (filter) => {%>
                    <div class="filter">
                        <p>Width: <%= filter.width%><br>
                            Height: <%= filter.height%><br>
                            Depth: <%= filter.depth%><br>
                            Amount: <%= filter.amount%><br>
                            <a href="/removeFilter?filterId=<%= filter._id%>&FSId=<%= current._id%>">Remove Filter</a>
                        </p>
                    </div>
                    <%});%>
                </div>
                <div id="eFilters">
                    <h3>Extra Filters:</h3>
                    <% extra.forEach( (filter) => {%>
                    <div class="filter">
                        <p>Width: <%= filter.width%><br>
                            Height: <%= filter.height%><br>
                            Depth: <%= filter.depth%><br>
                            Amount: <%= filter.amount%><br>
                            <a href="/removeFilter?filterId=<%= filter._id%>&FSId=<%= current._id%>">Remove Filter</a>
                        </p>
                    </div>
                    <%});%>
                </div>
                <p>Last Date Maintained: <%= current.lastDateMaintained%></p>
            </div>

            <div id="map"></div>
            <script type="text/javascript">
                let map, marker = undefined, FSCenter = [];
                function initMap() {
                    FSCenter.push(<%- JSON.stringify(current.coordinates)%>);
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: FSCenter[0],
                        zoom: 20
                    });

                    marker = new google.maps.Marker({
                        position: FSCenter[0],
                        map: map
                    });
                }
            </script>
            <script type="text/javascript"
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE6RA6882hKcQWpQ9GwKyOs7JwP8DOd0I&v=3&callback=initMap"
                    async defer></script>

            <div id="addFilters">
                <form action="/addFilter" method="post">
                    <h4>Add Filter</h4>
                    <p>Filter Type: <select name="type">
                            <option value="primary">Primary</option>
                            <option value="secondary">Secondary</option>
                            <option value="extra">Extra(clean ones nearby)</option>
                        </select></p>
                    <p>Width: <br><input type="number" name="width"/></p>
                    <p>Height:<br><input type="number" name="height"/></p>
                    <p>Depth: <br><input type="number" name="depth"/></p>
                    <p>Amount:<br><input type="number" name="amount"/></p>
                    <input type="hidden" name="id" value="<%= current._id%>"/>
                    <input type="submit" value="Add Filter"/>
                </form>
            </div>

            <div id="footer">
                <p><a href="/editFS?FSId=<%= current._id%>&buildingId=<%= current.buildingId%>">Edit <%= current.name%></a></p>
                <p><a href="/deleteFS?FSId=<%= current._id%>&buildingId=<%= current.buildingId%>">Remove <%= current.name%></a></p>
            </div>
        </div>
    </body>
</html>