<!DOCTYPE html>
<html>
    <head>
        <!--<link rel="stylesheet" href="../src/assets/styles.css">-->
        <!--<script src="../src/assets/homeMap.js"></script>-->
        <title>Home</title>
        <style>
            #map {
                height: 800px;
                width: 800px;
                position: fixed;
                overflow: auto;
            }
            html, body {
                height: 100%;
                margin: 0%;
                padding: 0%;
            }
        </style>
    </head>
    <body>
        <div id="header">
            <img src=""/>
            <h1>HVAC Stewardship Manager</h1>
            <h1>Home</h1>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/createBuilding">New Building</a></li>
            </ul>
        </div>

            <h4>Campus Map:</h4>
            <div id="map"></div>
            <script type="text/javascript">
                let map;//, location, numRed, numBlack, id;
                let buildings = [], markers = [];


                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: 43.818378, lng: -111.782588}, //byuIdaho Manwaring center
                        zoom: 17
                    });

                    <% if (buildings.length > 0) {
                    buildings.forEach( (building) => { /*console.log(JSON.stringify(building, null, 4))*/
//                        console.log(JSON.stringify(building._id));
//                        let thisBuilding = building;
//                        thisBuilding._id = JSON.stringify(building._id);
                    %>
                    buildings.push(<%- JSON.stringify(building)%>);
                    <% });
                    }%>

                    let largeInfowindow = new google.maps.InfoWindow();
                    let bounds = new google.maps.LatLngBounds();

                    buildings.forEach( (building, i) => {
                        console.log(JSON.stringify(building));
                        let marker = new google.maps.Marker({
                            map: map,
                            position: building.coordinates,
                            title: building.title,
                            animation: google.maps.Animation.DROP,
                            id: i
                        });
                        markers.push(marker);

                        bounds.extend(marker.position);

                        marker.addListener('click', () => {
                            populateInfoWindow(this, largeInfowindow);
                        });
                    });
                    map.fitBounds(bounds);
                }

                function populateInfoWindow(marker, infowindow) {
                    if (infowindow.marker !== marker) {
                        infowindow.marker = marker;
                        //infowindow.setContent('<div>' + marker.title + '</div>');
                        infowindow.setContent('<div><a href="/building?id=' + marker.id + '">' + marker.title + '</a></div>' +
                        '<div>Black items: ' + marker.numBlack + '<br>Red items: ' + marker.numRed + '</div>');
                        infowindow.open(map, marker);

                        infowindow.addListener('closeclick', () => {
                            infowindow.setMarker(null);
                        });
                    }
                }
            </script>
            <script type="text/javascript"
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE6RA6882hKcQWpQ9GwKyOs7JwP8DOd0I&v=3&callback=initMap"
                    async defer></script>
            <div id="buildings">
                <h4>Buildings:</h4>
            <% buildings.forEach( (building) => {%>
                <div class="building">
                    <a href="/building?id=<%= building._id.toString()%>">
                        <p><%= building.name%><br>
                            Black Items: <%= building.numBlack%><br>
                            Red Items: <%= building.numRed%>
                        </p>
                    </a>
                </div>
            <% });%>
            </div>
            <div id="avus">
                <h4>Air Ventilation Units:</h4>
            <% avus.forEach( (avu) => {%>
                <div class="avu">
                    <a href="/avu?id=<%= avu._id.toString()%>">
                        <p>Name: <%= avu.name%><br>
                        Next Date To Check: <%= avu.nextDateToCheck.toDateString()%><br>
                        Status Color: <%= avu.statusColor%></p>
                    </a>
                </div>
            <%})%>
            </div>
            <div id="fans">
                <h4>Fans:</h4>
            <% if (fans.length < 10) {length = fans.length;} else {length = 10;}
            for(let i = 0; i < length; i++) {%>
                <div class="fan">
                    <a href="/fan?id=<%= fans[i]._id.toString()%>">
                        <p>Name: <%= fans[i].name%><br>
                            Next Date To Check: <%= fans[i].nextDateToCheck.toDateString()%><br>
                            Status Color: <%= fans[i].statusColor%></p>
                    </a>
                </div>
            <%}%>
            </div>

        <div id="footer">

        </div>
    </body>
</html>