<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div id="header">
            <img src=""/>
            <h1>HVAC Stewardship Manager</h1>
            <h1>Home</h1>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/createBuilding">New Building</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="map">
                <!-- Show the buildings locations on the map -->
            </div>
            <div id="buildings">
            <% buildings.forEach( (building) => {%>
                <div class="building">
                    <a href="/building?id=<%= building._id.toString()%>">
                        <p><%= building.name%></p>
                        <p>Black Items: <%= building.numBlack%></p>
                        <p>Red Items: <%= building.numRed%></p>
                    </a>
                </div>
            <% });%>
            </div>
            <div id="avus">
            <% if (avus[0] !== undefined) {for(let i = 0; i < 10; i++) {%>
                <div class="avu">
                    <a href=`/avu?id=<%= avus[i]._id.toString()%>`>
                        <p><%= avus[i].name%></p>
                        <p><%= avus[i].nextDateToCheck%></p>
                        <p><%= avus[i].statusColor%></p>
                    </a>
                </div>
            <%}}%>
            </div>
            <div id="fans">
            <% if (fans[0] !== undefined) {for(let i = 0; i < 10; i++) {%>
                <div class="fan">
                    <a href="/fan?id=<%= fans[i]._id.toString()%>">
                        <p><%= fans[i].name%></p>
                        <p><%= fans[i].nextDateToCheck%></p>
                        <p><%= fans[i].statusColor%></p>
                    </a>
                </div>
            <%}}%>
            </div>

        </div>
        <div id="footer">

        </div>
    </body>
</html>