<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div id="header">
            <img src=""/>
            <h1>HVAC Stewardship Manager</h1>
            <h1>Home</h1>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/createBuilding">New Building</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="map">
                <!-- Show the buildings locations on the map -->
            </div>
            <div id="buildings">
                <h4>Buildings:</h4>
            <% buildings.forEach( (building) => {%>
                <div class="building">
                    <a href="/building?id=<%= building._id.toString()%>">
                        <p><%= building.name%><br>
                            Black Items: <%= building.numBlack%><br>
                            Red Items: <%= building.numRed%>
                        </p>
                    </a>
                </div>
            <% });%>
            </div>
            <div id="avus">
                <h4>Air Ventilation Units:</h4>
            <% avus.forEach( (avu) => {%>
                <div class="avu">
                    <a href="/avu?id=<%= avu._id.toString()%>">
                        <p>Name: <%= avu.name%><br>
                        Next Date To Check: <%= avu.nextDateToCheck.toDateString()%><br>
                        Status Color: <%= avu.statusColor%></p>
                    </a>
                </div>
            <%})%>
            </div>
            <div id="fans">
                <h4>Fans:</h4>
            <% if (fans.length < 10) {length = fans.length;} else {length = 10;}
            for(let i = 0; i < length; i++) {%>
                <div class="fan">
                    <a href="/fan?id=<%= fans[i]._id.toString()%>">
                        <p>Name: <%= fans[i].name%><br>
                            Next Date To Check: <%= fans[i].nextDateToCheck.toDateString()%><br>
                            Status Color: <%= fans[i].statusColor%></p>
                    </a>
                </div>
            <%}%>
            </div>

        </div>
        <div id="footer">

        </div>
    </body>
</html>